<!DOCTYPE html>

<title>Hello AttractionController!</title>
{% block body  %}
    <div class="bg-dark text-white p-2">
        {{ knp_menu_render('main') }}
    </div>
    <ul>
        <li>name : {{ atr.name }}</li>
        <li>short description : {{ atr.shortDescription }}</li>
        <li>full description : {{ atr.fullDescription }}</li>
        <li>score : {{ atr.score }}</li>
    </ul>
{% endblock %}
